* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}

.game {
    --game-item-size: 12vmin;
    --game-item-gap: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--game-item-size));
    grid-template-rows: repeat(4, var(--game-item-size));
    gap: var(--game-item-gap);
}

.item {
    background-color: #a68c95;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px -15px rgb(43, 3, 43);
    -moz-box-shadow: 0px 0px 14px -6px rgba(43, 3, 43);
    box-shadow: 0px 0px 14px -6px rgba(43, 3, 43);
}

.tile {
    --x: 0;
    --y: 0;
    position: absolute;
    left: calc(var(--x) * (var(--game-item-size) + var(--game-item-gap)));
    top: calc(var(--y) * (var(--game-item-size) + var(--game-item-gap)));
    color: hsl(121, 60%, var(--tile-text));
    background-color: hsl(284, 40%, var(--tile-color));
    width: 12vmin;
    height: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    border-radius: 5px;
    transition: 0.15s all ease;
}

.text {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    max-width: 250px;
}

.score {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    max-width: 250px;
}
.rules {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    width: 260px;
    opacity: 0.3;
    text-align: center;
}

.game-name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 148px;
    width: 100%;
    opacity: 0.3;  
}

.new-game {
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    //height: 45px;
    padding: 10px 30px;
    border: 2px solid #000;
    background: #f5f5f5;
    user-select: none;
    white-space: nowrap;
    transition: all 0.1s linear;
    &::before, &::after {
        content: "";
        position: absolute;
        background: #f5f5f5;
        transition: all .2s linear;
    }
    &::before {
        width: calc(100% + 6px);
        height: calc(100% - 16px);
        top: 8px;
        left: -3px;
    }
    &::after {
        width: calc(100% - 16px);
        height: calc(100% + 6px);
        top: -3px;
        left: 8px;
    }
    &:hover {
        cursor: pointer;
        span {
            font-size: 17px;
        }
    }
    &:active {
        padding: 12px 32px;
    }
    &:hover:before {
        height: calc(100% - 32px);
        top: 16px;
    }
        
    &:hover:after {
        width: calc(100% - 32px);
        left: 16px;
    }
        
    span {
        font-size: 15px;
        z-index: 3;
        position: relative;
        font-weight: 600;
        transition: all 0.1s linear;
    }
}

.records {
    height: 52vmin;
    width: 36vmin;
    position: relative;
    background-color: #a68c95;
    border-radius: 5px;
    margin-left: 1.5vmin;
    &__title {
        color: #f5f5f5;
        text-align: center;
        border-bottom: 2px solid #f5f5f541;
        margin: 10px 0;
        font-size: 32px;
    }
    &__list {
        color: #f5f5f5;
        margin: 0 50px;
        font-size: 20px;
    }
}

.game-title {
    position: absolute;
    bottom: 0;
    left: 14%;
    //transform: translateX(-50%);
    font-size: 10vmin;
    width: 100%;
    opacity: 0.3;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    a {
        text-decoration: none;
        color: #160c03;
    }
    .github {
        i {
            color: #160c03;
        }
    }
    .year {
        color: #160c03;
    }
    .rsschool {
        img {
            width: 30px;
            height: 23px;
            -webkit-box-shadow: -1px 3px 39px -3px rgba(255,255,255,1);
            -moz-box-shadow: -1px 3px 39px -3px rgba(255,255,255,1);
            box-shadow: -1px 3px 39px -3px rgba(255,255,255,1);
            border-radius: 50%;
        }
    }
    a:hover, i:hover, .github:hover {
        color: rgb(170, 62, 0);
    }
}


@media (max-width: 767px) {
    body {
        flex-direction: column;
        //height: 200%;
        margin-top: 150px;
    }
    .records {
        margin-top: 20vmin;
        width: 54vmin;
        height: 62vmin;
        &__title {
            font-size: 26px;
        }
        &__list {
            font-size: 12px;
            transform: translateX(30%);
        }
    }
    footer {
        position: relative;
        font-size: 18px;
        padding: 30px;
    }
    .new-game {
        top: -35%;
    }
    .score {
        top: -24%;
    }
    .game-title {
        left: 25%;
    }
}

@media (max-width: 425px) {
    .new-game {
        top: -50%;
    }
    .text {
        font-size: 16px;
    }
    .score {
        font-size: 16px;
    }
    .rules {
        bottom: -25%;
    }
    .records {
        height: 64vmin;
    }
    footer {
        font-size: 12px;
        padding: 20px;
        position: absolute;
        .rsschool {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}